@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
	themes: winter --default, forest --prefersdark;
}
@import "aos/dist/aos.css";

/* Custom CSS */

a.active {
	@apply text-primary underline;
}

body {
	font-family: "Inter", sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
	@apply !text-primary;
}

.swiper-pagination-bullet-active {
	@apply !bg-primary;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.menu li a {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.menu li a.active {
	  @apply bg-primary text-base-200;
}